$TTL 604800
@ IN SOA ns.{{ domain_name }}. admin.{{ domain_name }}. (
    {{ lookup('pipe','date +%Y%m%d') }}01
    604800
    86400
    2419200
    604800 )

@   IN NS ns.{{ domain_name }}.
123 IN PTR arq.{{ domain_name }}.
102 IN PTR db.{{ domain_name }}.
103 IN PTR app1.{{ domain_name }}.
104 IN PTR cli.{{ domain_name }}.

