---
- name: Provisionar servidor ARQ (DHCP, DNS, NFS, LVM)
  hosts: arq
  become: true

  vars:
    domain_name: "tyrone.victor.devops"
    dhcp_range_start: "192.168.56.50"
    dhcp_range_end: "192.168.56.100"
    dhcp_lease_time: 180
    dhcp_max_lease: 3600
    dns_forwarders:
      - 1.1.1.1
      - 8.8.8.8
    vg_name: dados
    lv_name: ifpb
    lv_size: 15G
    nfs_share_dir: /dados/nfs

  tasks:
    # ================= SISTEMA =================
    - name: Atualizar cache e upgrade do sistema
      apt:
        update_cache: yes
        upgrade: dist

    - name: Instalar pacotes necessários
      apt:
        name:
          - isc-dhcp-server
          - bind9
          - lvm2
          - nfs-kernel-server
          - chrony
        state: present

    # ================= NTP =================
    - name: Configurar servidor NTP
      lineinfile:
        path: /etc/chrony/chrony.conf
        regexp: '^server'
        line: 'server pool.ntp.br iburst'

    - name: Ajustar fuso horário
      timezone:
        name: America/Recife

    - name: Garantir chrony ativo
      service:
        name: chrony
        state: started
        enabled: yes

    # ================= GRUPO E USUÁRIOS =================
    - name: Criar grupo ifpb
      group:
        name: ifpb
        state: present

    - name: Criar usuários tyrone e victor
      user:
        name: "{{ item }}"
        groups: ifpb
        append: yes
        shell: /bin/bash
        create_home: yes
        state: present
      loop:
        - tyrone
        - victor

    - name: Conceder sudo sem senha para grupo ifpb
      lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^%ifpb'
        line: '%ifpb ALL=(ALL) NOPASSWD:ALL'
        validate: 'visudo -cf %s'

    # ================= SSH =================
    - name: Configurar SSH
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
      loop:
        - { regexp: '^PasswordAuthentication', line: 'PasswordAuthentication no' }
        - { regexp: '^PermitRootLogin', line: 'PermitRootLogin no' }
        - { regexp: '^AllowGroups', line: 'AllowGroups vagrant ifpb' }

    - name: Criar mensagem de saudação SSH
      copy:
        dest: /etc/motd
        content: "Acesso apenas para pessoas com autorização expressa!!!"
        owner: root
        group: root
        mode: '0644'

    - name: Reiniciar SSH
      service:
        name: ssh
        state: restarted

    # ================= DHCP =================
    - name: Configurar dhcpd.conf
      template:
        src: ../templates/dhcpd.conf.j2
        dest: /etc/dhcp/dhcpd.conf
      notify: restart dhcp

    - name: Definir interface DHCP (eth1)
      lineinfile:
        path: /etc/default/isc-dhcp-server
        regexp: '^INTERFACESv4='
        line: 'INTERFACESv4="eth1"'
      notify: restart dhcp

    - name: Garantir DHCP ativo
      service:
        name: isc-dhcp-server
        state: started
        enabled: yes

    # ================= DNS =================
    - name: Configurar Bind9 options
      template:
        src: ../templates/named.conf.options.j2
        dest: /etc/bind/named.conf.options
      notify: restart bind9

    - name: Configurar zona direta
      template:
        src: ../templates/db.tyrone.victor.devops.j2
        dest: /etc/bind/db.tyrone.victor.devops
      notify: restart bind9

    - name: Configurar zona reversa
      template:
        src: ../templates/db.192.168.56.j2
        dest: /etc/bind/db.192.168.56
      notify: restart bind9

    - name: Garantir Bind9 ativo
      service:
        name: bind9
        state: started
        enabled: yes

    # ================= LVM (SEM RAID) =================
    - name: Criar Physical Volumes
      command: pvcreate /dev/sdb /dev/sdc
      ignore_errors: yes

    - name: Criar Volume Group
      command: vgcreate {{ vg_name }} /dev/sdb /dev/sdc
      register: vgcreate_result
      failed_when: "'already exists' not in vgcreate_result.stderr and vgcreate_result.rc != 0"

    - name: Criar Logical Volume
      command: lvcreate -n {{ lv_name }} -L {{ lv_size }} {{ vg_name }}
      args:
        creates: /dev/{{ vg_name }}/{{ lv_name }}

    - name: Criar filesystem ext4
      filesystem:
        fstype: ext4
        dev: /dev/{{ vg_name }}/{{ lv_name }}

    - name: Criar ponto de montagem /dados
      file:
        path: /dados
        state: directory

    - name: Montar volume LVM
      mount:
        path: /dados
        src: /dev/{{ vg_name }}/{{ lv_name }}
        fstype: ext4
        state: mounted

    # ================= NFS =================
    - name: Criar diretório NFS
      file:
        path: "{{ nfs_share_dir }}"
        state: directory
        mode: '0755'

    - name: Configurar exportação NFS
      lineinfile:
        path: /etc/exports
        line: "{{ nfs_share_dir }} 192.168.56.0/24(rw,sync,no_subtree_check)"
        create: yes
      notify: exportfs

    - name: Garantir NFS ativo
      service:
        name: nfs-kernel-server
        state: started
        enabled: yes

  handlers:
    - name: restart dhcp
      service:
        name: isc-dhcp-server
        state: restarted

    - name: restart bind9
      service:
        name: bind9
        state: restarted

    - name: exportfs
      command: exportfs -a

