---
- name: Provisionar DB (MariaDB + autofs)
  hosts: db
  become: true

  tasks:
    # ================= SISTEMA =================
    - name: Atualizar cache e upgrade do sistema
      apt:
        update_cache: yes
        upgrade: dist

    - name: Instalar MariaDB e autofs
      apt:
        name:
          - mariadb-server
          - autofs
          - nfs-common
          - chrony
        update_cache: yes
        state: present

    - name: Ensure mariadb running
      service:
        name: mariadb
        state: started
        enabled: yes

    # ================= NTP =================
    - name: Configurar servidor NTP
      lineinfile:
        path: /etc/chrony/chrony.conf
        regexp: '^server'
        line: 'server pool.ntp.br iburst'

    - name: Ajustar fuso horário
      timezone:
        name: America/Recife

    - name: Garantir chrony ativo
      service:
        name: chrony
        state: started
        enabled: yes

    # ================= GRUPO E USUÁRIOS =================
    - name: Criar grupo ifpb
      group:
        name: ifpb
        state: present

    - name: Criar usuários tyrone e victor
      user:
        name: "{{ item }}"
        groups: ifpb
        append: yes
        shell: /bin/bash
        create_home: yes
        state: present
      loop:
        - tyrone
        - victor

    - name: Conceder sudo sem senha para grupo ifpb
      lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^%ifpb'
        line: '%ifpb ALL=(ALL) NOPASSWD:ALL'
        validate: 'visudo -cf %s'

    # ================= SSH =================
    - name: Configurar SSH
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
      loop:
        - { regexp: '^PasswordAuthentication', line: 'PasswordAuthentication no' }
        - { regexp: '^PermitRootLogin', line: 'PermitRootLogin no' }
        - { regexp: '^AllowGroups', line: 'AllowGroups vagrant ifpb' }

    - name: Criar mensagem de saudação SSH
      copy:
        dest: /etc/motd
        content: "Acesso apenas para pessoas com autorização expressa!!!"
        owner: root
        group: root
        mode: '0644'

    - name: Reiniciar SSH
      service:
        name: ssh
        state: restarted

    # ================= autofs =================
    - name: Configure autofs map for /var/nfs
      copy:
        dest: /etc/auto.nfs
        content: "/var/nfs -fstype=nfs,rw 192.168.56.123:/dados/nfs\n"
        mode: '0644'

    - name: Ensure autofs master contains line
      lineinfile:
        path: /etc/auto.master
        regexp: '^/var/nfs'
        line: '/var/nfs /etc/auto.nfs --timeout=60'
        create: yes
      notify: restart autofs

  handlers:
    - name: restart autofs
      service:
        name: autofs
        state: restarted
        enabled: yes

